*{
    margin: 0px;
    padding: 0px;
}
.firstpage{
    background-image: url('banner_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.firstheader{
    background: linear-gradient(#1976D2,#3085dad1 );
    height: 20vh;
    display: flex;
}
.firstbody{
    background: linear-gradient(#1565c0d1,#0d47a187);
    height: 80vh;
    
}
.logo{
    width: 50%;
}
.logo img{
    width: 18%;
    height: 71px;
    margin-left: 88px;
    margin-top: 32px;

}
.menu{
    width: 50%;
    display: flex;
}
.menu a{
    height: 100%;
    display: flex;
    align-items:center ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 10px;
    font-size: large;
    color: white;
    text-decoration: none;
    margin-right: 53px;
}
.firstbody h1{
    color: white;
    padding: 159px;
    padding-left: 460px;
    font-size: xxx-large;
    font-family: system-ui;
}
.sub1{
    margin-left: 544px;
    margin-top: -101px;
    color: white;
    font-size: large;
}
.sub2{
    margin-left: 533px;
    margin-top: 8px;
    font-size: large;
    color: white;
}
.btn{
    margin-left: 645px;
    background-color: rgb(255, 179, 0);
    margin-top: 33px;
    padding: 10px;
    border-radius: 41px;
    border: none;
    padding-left: 53px;
    padding-right: 53px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

/* second page */
*{
    margin: 0px;
    padding: 0px;
}
.secondpage{
    background-color: #1976D2;
    height: 100vh;
    width: 100%;
}
.title{
    margin-left: 638px;
    padding-top: 41px;
}
.title h1{
    color: white;
    font-size: xxx-large;
}

.sub2-1{
    margin-left: 544px;
    margin-top: 23px;
    color: white;
    font-size: large;
}
.sub2-2{
    margin-left: 555px;
    margin-top: 8px;
    font-size: large;
    color: white;
}
.picture{
    width: 100%;
    display: flex;
}
.profile{
    margin-left: 49px;
    padding: 61px;
    margin-top: -34px;
}
.heading h2{
    color: white;
    margin-left: 104px;
    margin-top: 28px;
}
.image{
    margin-top: 10px;
}
.para1 p{
    color: white;
    margin-left: 57px;
    margin-top: 16px;

}
.para1-1 p{
    color: white;
    margin-left: 62px;
}

/* second page end */

/* third page */
.Thirdpage{
    width: 100%;
    height: 100vh;
    background-image: url(pet_care_banner.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.txt1,.txt2,.txt3{
    border: 11px solid white;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
.circle1,.circle2,.circle3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
.center-txt1,.center-txt2,.center-txt3{
    flex-direction: column;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.circle-main{
    margin-left: 45px;
    margin-top: 150px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.divcir{
    margin-left: 5px;
}
.circle1{
    padding: 5px;
}
.circle2{
    padding: 5px;
}
.header3{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255 145 0 / 95%),rgb(255 145 0 / 67%) );
}

/* third page end */

/* fourth page */
.fouthpage{
    width: 100%;
    height: 100vh;
    background-color: #1976D2;
    display: flex;
}
.left{
    width: 50%;
    height: 100vh;
    
}
.right{
    width: 50%;
    height: 100vh;
    

}
.image4{
    height: 417px;
    margin-left: 188px;
    padding-top: 154px;
}
.title4{
    color: white;
    padding-top: 289px;
    margin-left: 238px;
       
}
.para4{
    padding-top: 28px;
}
.btn1{margin-left: -2px;
    background-color: rgb(255, 179, 0);
    margin-top: 33px;
    padding: 10px;
    border-radius: 41px;
    border: none;
    padding-left: 53px;
    padding-right: 53px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

/* fourth page end*/ 

/* fifth page */
.fifthpage{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #4093e6;
}

/* fifth */
.sixthpage{
    width: 100%;
    height: 100vh;
    background-color: #1976D2;
}
.header5{
    height: 30vh;
    width: 100%;
    background-color:#1976D2 ;
}
.title5{
    color: white;
    margin-left: 708px;
    padding-top: 35px;
}
.para5{
    color: white;
    margin-left: 570px;
    padding-top: 12px;
}
.para5-1{
    color: white;
    margin-left: 601px;
}
.body5{
    display: flex;
    justify-content: space-evenly;
}
.section{
    width: 261px;
    height: 424px;
    background-color: white;
    margin-left: 74px;
}
.bodytitle{
    color: #4093e6;
    margin-left: 59px;
    padding-top: 24px;
}
.bodyimg{
    margin-left: 64px;
    padding-top: 36px
}
.bodyimg h1{
    color: #4093e6;
    padding-top: 20px;
    margin-left: 7px;
}
.bodypara{
    color: #4093e6;
    margin-left: 42px;
}
.bodyimg p{
    color: #4093e6;
    margin-left: -26px;
    padding-top: 14px;
}
.btn5{margin-left: 25px;
    background-color: rgb(255, 179, 0);
    margin-top: 33px;
    padding: 10px;
    border-radius: 41px;
    border: none;
    padding-left: 53px;
    padding-right: 53px;
    color: white;
    font-size: medium;
    font-weight: bold;}